:root {
  --light-grey-A: rgba(242, 242, 244, 1);
  --light-grey-B: rgba(234, 234, 235, 1);
  --dark-grey-A: rgba(38, 38, 38, 1);
  --border-radius: 12px;
  --border-radius-S: 8px;
  --color-accent-light: #FFF6E5;
}

body {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: var(--dark-grey-A);
}

ul {
  margin: 0;
  padding-right: 0;
}

li {
  list-style-type: none;
}

/* Стили относящиеся к странице */
.container {
  width: 405px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 80px;
}

.bubbles_wrapper--first {
  margin-top: 80px;
  position: relative;
}


/* Стили относящиеся к баблам */
.tags-and-input-wrapper {
  display: flex;
  gap: 3px;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
  padding: 3px;
  border: solid 1px var(--light-grey-B);
  border-radius: var(--border-radius);
  max-height: 300px;
  overflow-y: scroll;
}
.tags-and-input-wrapper.dropdowned {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.tag-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag-bubble {
  display: flex;
  background-color: var(--light-grey-A);
  color: var(--dark-grey-A);
  height: 32px;
  max-width: 150px;
  border-radius: var(--border-radius-S);
  padding: 0 6px 0 11px;
  text-align: left;
  align-items: center;
  cursor: default;
}

.remove-tag {
  display: flex;
  flex-shrink: 0;
  background: url('./Cross.svg') no-repeat center;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s;
}

.remove-tag:hover {
  background-color: rgba(229, 230, 232, 1);
  opacity: 1;
}

.input {
  color: black;
  height: 32px;
  width: 110px;
  border: none;
  margin: 0;
  padding: 0 8px;
  outline: none;
  flex-grow: 1;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
}

.input::placeholder {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: var(--dark-grey-A);
}


/* dropdown */
.dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  padding: 3px;
  border: solid 1px var(--light-grey-B);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-top: none;
  background-color: white;
  max-height: 200px;
  overflow-y: scroll;
}

.dropdowned+.dropdown {
  display: flex;
}

.dropdown_item {
  height: 32px;
  padding: 0 11px;
  text-align: left;
  align-content: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.dropdown_item:last-child {
  border-radius: 0 0 var(--border-radius-S) var(--border-radius-S);
}

.dropdown_item:hover {
  background-color: var(--color-accent-light);
}


/* Scrollbar styles */

*::-webkit-scrollbar {
  width: 6px;
  margin: 4px;
  border-radius: 10px;
  overflow: hidden;
}

*::-webkit-scrollbar-thumb {
  background: #e6e6e6;
}

*::-webkit-scrollbar-thumb:hover {
  background: #888;
}

*::-webkit-scrollbar-button {
  display: none;
}