/* Стили относящиеся к странице */
.container {
  width: 405px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 80px;
}

.bubbles_wrapper--first {
  margin-top: 80px;
}


/* Стили относящиеся к баблам */
.tags-and-input-wrapper {
  display: flex;
  gap: 3px;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
  padding: 3px;
  border: solid 1px rgba(234, 234, 235, 1);
  border-radius: 12px;
}

.tags-wrapper {
  display: flex;
  gap: 3px;
  align-content: center;
  flex-wrap: wrap;
}

.tag-bubble {
  display: flex;
  position: relative;
  background-color: rgba(242, 242, 244, 1);
  color: rgba(38, 38, 38, 1);
  height: 32px;
  border-radius: 8px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  padding: 0 6px 0 11px;
  text-align: left;
  align-items: center;
  cursor: default;
}

.remove-tag {
  display: flex;
  background: url('./Cross.svg') no-repeat center;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s;
}
.remove-tag:hover {
  background-color: rgba(229, 230, 232, 1);
  opacity: 1;
}

.input {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: black;
  height: 32px;
  width: 110px;
  border: none;
  margin: 0;
  padding: 0 11px;
  outline: none;
  /* background-color: rgb(246, 246, 246); */
}
.input::placeholder {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: rgba(38, 38, 38, 1);
}